:root {
    --text-wite: #ffffff;
    --text-wite-sec: #e5e5e5;
    --bg-bege-1: rgb(222, 217, 210);
    --bg-bege-2: rgb(236, 216, 189);
    --bg-bege-3: rgb(237, 202, 158);
    --bg-bege-4: rgb(227, 160, 85);
    --bg-bege-border-1: rgb(218, 151, 63);
    --bg-bege-border-2: rgb(116, 80, 32);
    --text-dark-bege: rgb(131, 71, 3);
    --text-grey: #999999;
    --bg-color: #141619;
    --bg-color-red: #d90000;
    --color-darck: #000000;
    --color-hover: rgba(255, 255, 255, 0.3);
}


body {
    background-color: var(--bg-bege-1);
    font-size: 1.5vw;
    padding-top: 0px;
    margin-top: 0px;
}

.flex_left {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10%;
}

.flex_right {
    display: flex;
    align-items: center;
    justify-content: right;
}

.flex_sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.header {
    padding: 0 8vw;
    background-color: var(--bg-bege-3);
    width: 100vw;
    height: 5vw;
    border: 2px solid var(--bg-bege-border-2);
}

.discription {
    background-color: var(--bg-bege-2);
    padding: 3vw;
    margin: 0 3vw 2vw;
    border: 2px solid var(--bg-bege-border-1);
    text-align: justify;
}

.metod_discr{
    color: var(--text-dark-bege);
    font-size: 2vw;
    font-weight: 600;
    font-style: italic;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.3vw;
    width: 8vw;
    background-color: var(--bg-bege-4);
    border: 2px solid var(--bg-bege-border-2);
    text-decoration: none;
    border-radius: 5px;
}
.btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.3vw;
    width: 8vw;
    background-color: var(--bg-bege-2);
    border: 2px solid var(--bg-bege-border-2);
    text-decoration: none;
    border-radius: 5px;
}
.btn2:hover {
    background-color: var(--bg-bege-3);
    border: 2px solid var(--bg-bege-border-2);
}

.btn:hover {
    background-color: var(--bg-bege-3);
    border: 2px solid var(--bg-bege-border-2);
}
.static {
    position: fixed;
}

.null {
    height: 90px;

}

@media (max-width: 1000px) {
    .flex_left {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10%;
    }


    .flex_right {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .flex_sb {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2vw;
    }

    .header {
        padding: 1vw 8vw;
        background-color: var(--bg-bege-3);
        width: 100vw;
        height: 20vw;
        border: 2px solid var(--bg-bege-border-2);
    }

    .btn {
        font-size: 3vw;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5vw;
        width: 22vw;
        background-color: var(--bg-bege-4);
        border: 2px solid var(--bg-bege-border-2);
        text-decoration: none;
        border-radius: 5px;
    }
    .btn2 {
        font-size: 3vw;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5vw;
        width: 22vw;
        background-color: var(--bg-bege-2);
        border: 2px solid var(--bg-bege-border-2);
        text-decoration: none;
        border-radius: 5px;
    }

    .null {
        height: 25vw;
    }

    body {
        font-size: 2vw;
    }

    .container {
        width: 100vw;
        margin: 0 auto;
    }
}